/**
 * 1. Footer styles were taken from https://goo.gl/PeYkmx
 *    (includes some fixes for known issues).
 */

html, body {
  /* Ensure full height background */
  min-height: 100vh;

  /* Overwrite default body margin */
  margin: 0 8px;
}

body {
  height: 100%; /* 1. */

  display: flex;
  flex-direction: column;

  text-align: center;

  font-family: "Arial";
  /*font-family: monospace;*/

  background-color: #03A9F4;
  background: linear-gradient(#03A9F4, #8BC34A);
}

/***********************************************
 * Main container
 ***********************************************/
.container {
  flex: 1 0 auto; /* 1 */
}

.container p {
  color: #fff;
}

/*
 * Countdown display
 */
.container .uea-timestamp {
  margin: 35vh 0 0 0;

  font-size: 6em;

  text-shadow: 0 0 3px #000;
}

/*
 * Countdown subtitle
 */
.container .uea-subtitle {
  font-size: 1.5em;
}

/*
 * Timestamp goal
 */
.container #uea-timestamp-goal, .container #uea-timestamp-goal__date {
  font-weight: bold;
}

/*
 * Calculated values text
 */
.container .uea-calculated {
  color: #fff;
}

/***********************************************
 * Footer 
 ***********************************************/
footer {
  flex: none; /* 1 */
}

footer > ul {
  margin-bottom: 10px;

  display: flex;

  list-style: none;
}

/*
 * Single footer elements
 */
footer > ul > li {
  padding: 0 10px;

  color: #FFF;
  border-right: 1px solid #FFF;
}

/*
 * Remove left spacing from the first footer
 * element
 */
footer > ul > li:first-child {
  margin-left: auto;
}

footer > ul > li:last-child {
  padding: none;

  border-right: none;
}

footer > ul > li > a {
  text-decoration: none;

  cursor: pointer;

  color: #FFF;
}

footer > ul > li > a:hover {
  text-decoration: underline;
}

/***********************************************
 * Optimizations for screens >768px
 ***********************************************/
@media only screen and (max-width: 767px) {
  .uea-timestamp {
    margin-top: 23vh;

    font-size: 14vw;
  }

  .uea-subtitle {
    font-size: 6vw;
  }
}

/***********************************************
 * Optimizations for screens >640px
 ***********************************************/
@media only screen and (max-width: 639px) {
  footer > ul {
    flex-direction: column;
  }

  footer > ul > li:first-child {
    margin-left: 0;
  }
}
